[submodule "tpl/tinyxml2"]
	path = tpl/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "tpl/StackWalker"]
	path = tpl/StackWalker
	url = https://github.com/JochenKalmbach/StackWalker.git
[submodule "tpl/json"]
	path = tpl/json
	url = https://github.com/nlohmann/json.git
[submodule "tpl/base64"]
	path = tpl/base64
	url = https://github.com/isteinbrecher/base64.git
