body {
	font-size: 13px;
}

form {
	display: table;
}

.row {
	display: table-row;
}

.col {
	display: table-cell;
	padding: 3px;
	vertical-align: top;
}

#dashForm, #waveForm {
	display: none;
}

textarea {
	resize: none;
  }